* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(135deg,
            #0f172a,
            #1e293b);

    font-family: "Segoe UI", sans-serif;
}

.container {
    width: 90%;
    max-width: 500px;
    background: #1e293b;
    padding: 3rem;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .3);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
}

.container h1 {
    color: white;
    font-size: 3rem;
}

.container p {
    color: #cbd5e1;
}

.container input {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 12px;
    background: #334155;
    color: white;
    font-size: 1rem;
    text-align: center;
    display: none;
}

.container #start_button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 12px;
    background: #38bdf8;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
}

.container #guess_button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 12px;
    background: #38bdf8;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
    display: none;
}

.container #restart_button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 12px;
    background: #38bdf8;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
    display: none;
}

.container button:hover {
    transform: translateY(-2px);
    opacity: .9;
}